<% include ../partials/header.ejs %>

<h1>This is a Show Page</h1>

<% dramaList.forEach(function(comment){%>
<p>Hello</p>
    <p><strong><%= comment.title%></strong> - <%= comment.epLinks %> - <%= comment.epLinks.nos %></p>
    <% console.log(comment.epLinks.link); %>
<% }); %>

<div class="container">
        <div class="row d-flex flex-wrap">
            
            <% dramaList.forEach(function(drama){ %>
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 17rem;">
                        <img src="<%= drama.image%>">
                        <div class="card-body text-center">
                            <h5 class="card-title "><%=drama.title%></h5>
                            <h5 class="card-text "><%=drama.genre%></h5>
                            <h5 class="card-text "><%=drama.noEps%></h5>
                            <h5 class="card-text "><%=drama.ep%></h5>
                            <h5 class="card-text "><%=drama.cast%></h5>
                            <% epButton(); %>
                            
        
                        </div>
                    </div>

                </div>
            <% }); %> 
            
        </div>
</div>


<% function epButton (epButton) { %>
     <% dramaList.forEach(function(drama){ %>
        <% var i = 0 %>
        <% while (i < drama.noEps) { %>
            <div>
                <a href="/drama/<%= drama.title%>/<%= i+1%>">Episode <%= i+1%></a>
                <% i++; %>
            </div>
            
            
        <% } %>
    <% }); %>
<% }; %>



<% include ../partials/footer.ejs %>


